<div fxLayout="column" fxLayoutAlign="space-around"  fxFlex>
    <h2 fxFlex>Current Activities</h2>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <a [routerLink]="['/activity']" fxFlex="15" md-raised-button  >Add</a>
        <button fxFlex="15" md-raised-button (click)="applyChange()">Apply</button>
    </div>
<md-nav-list fxFlex>
    <md-list-item class="full">
        <div class="col-5">Delete</div>
        <div class="col-5">Hide</div>
        <div class="col-20">Name</div>
        <div class="col-40">Description</div>
        <div class="col-10">Type</div>
    </md-list-item>
    <md-list-item class="full" *ngFor="let activity of (activities$ | async)">
        <div class="col-5"><md-checkbox (change)="deleteCheck(activity.id)"></md-checkbox></div>
        <div class="col-5"><md-checkbox [(value)]="activity.hidden"></md-checkbox></div>
        <div class="col-20"><a [routerLink]="'/activity/'+activity.activetype+'/'+ activity.$key">{{activity.name}}</a></div>
        <div class="col-40">{{activity.description.substr(0,30)}}...</div>
        <div class="col-10">{{activity.activetype}}</div>
       <button type="button" (click)="activityClick(activity)">Click me</button>
    </md-list-item>
</md-nav-list>
</div>

