 <md-grid-list [cols]=cols rowHeight="300px">
   
   <md-grid-tile *ngFor="let item of items">
     <div class="container">
      <article class="caption">
      <div class="caption__overlay">
        <h1 class="caption__overlay__title">{{item.header}} </h1>
        <div class="caption caption__overlay__content" [innerHTML]="item.body"></div>
      </div>
      <div>
      <img [src]="item.image.Url" width=300 [alt]="item.header" class="caption_media">
      </div>
    </article> 
    </div>
    </md-grid-tile>
 </md-grid-list>
