<div fxLayout="row warp"  class="mat-typography" fxLayoutAlign="space-around center">
  <div  fxFlex="100%">
    <h1>Consulting Services</h1>
    <p>Todd does occasional consulting focused on software product strategy, software process, software development team assesment, team organization, venture funding, and marketing.  
      He focuses in particular on companies transitioning to modern software processes, product management and product strategy.  He can assess the current state of software teams for 
      acquisition or renewal; and can assist a team to modernize their apporach. He can be contracted directly, or he also works with the Palo Alto Strategy Group and envorso often as part of a 
      larger team or engagement.</p>
      <p>To contact todd, click on the logo and connect to him via linkedin.  Specify your interest in consulting services</p>
  </div>
  <div fxFlex="20%"><img width="200px" src="/assets/images/Envorso_color_test_1.png" alt="Envorso Consulting"></div>
  <div fxFlex="80%"><h1>envorso Consulting</h1><p>Todd is an advisor to envrso consulting, and has worked with it's founder Adrian Balfour for over 10 years as a partner, board member, and consulting team member.
    Envorso provides extensive consulting servics focused on project portfolio managment and portfolio assessment.  Todd uses his expertise primarily in the Automotive and embedded software sector.</p>
  </div>
  <div fxFlex="20%"><img width="200px" src="/assets/images/palo-alto-strategy-group-logo.png" alt="Palo Alto Strategy Group"></div>
  <div fxFlex="80%">
    <h1>The Palo Alto Strategy Group</h1>
    <p>The Palo Alto Strategy Group (PASG) provides specialized investment advice and due diligence services to investors in Software, Technology, and E-Commerce.</p>
    <p>Todd is part of their executive program.  PASG’s executive program selects highly experienced technologists and strategists to participate in PASG projects. The program enables executives to apply their skills and engage professionally with other talented individuals both at PASG and in industry. </p>
  </div>
</div>