<div fxFlexLayout="column">

  <md-toolbar color="primary">
   <button md-button  (click)="sidenav.opened=!sidenav.opened;"><span class="mat-display-1">toddwseattle</span></button>
    <div class="toolbar-button">
    <a md-button routerLink="/">Companies</a>
    <a md-button routerLink="/">Courses</a>
    <a md-button routerLink="/">Non Profits</a>
    <a md-button routerLink="/about">About</a>
    </div>
  </md-toolbar>
  <md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="false">
     <app-social-nets></app-social-nets>
  
    </md-sidenav>
    <div fxLayout="column" class="content-area" >
     <router-outlet fxFlex></router-outlet>
    </div>
 </md-sidenav-container>
</div>