<div fxLayout="row" fxLayoutAlign="center center">
  <img src="/assets/images/divergent-blue.png" alt="Divergent Ventures Logo">
</div>
<div class="mat-typography"><p>Divergent Ventures is a Venture Capital Firm founded in 2003.  Todd has been an active investor and advisor
  since its inception.  He is a managing director for Divergent III and Divergent IV, and an emeritus advisor for Divergent V. </p>
<h1>Divergent Investments Todd Advises or has Advised:</h1></div>
<app-activity-grid [activityType]="invest" [divergent]="true"></app-activity-grid>