<div fxLayout="row wrap">
  <div fxFlex="175px" class="profile-pic" fxLayout="column" fxLayoutAlign="start center">
    <img width=150 src="/assets/images/profile/Todd W_4630T-Crop-300x330px.jpg" alt="">
</div>
  <div fxFlex class="text-back mat-typography">
    <h1 class="mat-headline">Todd Warren</h1>
    <p>Todd Warren divides his time between the technology industry and entrepreneurial educational ventures.
       He is a managing director at <a href="http://www.divergentvc.com">Divergent Ventures</a> since 2012, which focuses on early-stage computing infrastructure companies.
       At Divergent he serves on the board and advises their portfolio companies. 
       Divergent Fund II was named Preqin’s top performing fund in its vintage.  
       In addition to his work at Divergent, Todd is an adjunct professor in computer science at Northwestern University’s McCormick School of Engineering.
      Since 2010 Todd has co-taught a multi-disciplinary course in entrepreneurship entitled <a href="http://www.farley.northwestern.edu/we-teach/nuvention/web-and-media.html">NUvention Web</a>,
       in which teams from across the University, including the business and engineering schools, define and launch startup businesses.  
       A few teams continue their ventures each year; and many have raised venture funding and generate great exits.  The class was named by Inc. magazine
        as one of the top 10 in entrepreneurship in 2011 and VentureBeat as one of the top 4 in 2012. 
        NUvention Web has served hundreds of students who have launched or contributed to many successful startups around the world.</p>
        <p> Prior to his current activities, Todd worked for Microsoft for 21
          years in a variety of product management, general management, and product
          development roles. He was a corporate vice president from 2003 to 2009. From
          2005 until 2009, Todd was responsible for the development and technical product
          strategy for Microsoft's<a href="https://en.wikipedia.org/wiki/Windows_Mobile"></a> operating
          system and related products. Prior to his role in Windows Mobile, Todd directed
          Microsoft's device efforts in the automotive and media device space (<a
          href="https://en.wikipedia.org/wiki/Ford_Sync">Ford Sync</a>, Toshiba <a
          href="https://en.wikipedia.org/wiki/Portable_media_center">Portable
          Media Center</a>) and managed its mapping business unit responsible for the release of
          maps.live.com and Virtual Earth. Todd also had key roles in Microsoft's server
          applications group, including leading the development of the first two releases
          of Windows Small Business Server and the product planning and product
          management of Microsoft Exchange. He also led the unit that produces Microsoft
          Project. His first position was as a program manager in Microsoft's tools group
          where he worked on early integrated development environments, MASM, C, C++. Todd
          retired from Microsoft in February 2009.</p>
     <p>Todd joined Microsoft after completing a BA with Honors in Computer Science and Economics 
       at Northwestern. Todd serves on the non-profit boards of VentureWell, which supports innovation 
       and entrepreneurship in higher education, as well as the board of <a href="http://www.ashesi.org">Ashesi University</a>, where he is 
       a founding board member and past board chair.  Ashesi University has been educating young Africans 
       in Ghana since 2004. Ashesi is a liberal arts and engineering university with more than 800 students 
       and more than 1000 alumni. Its mission is focused on developing the next generation of African leaders. 
       Todd has taught entrepreneurship and software engineering at Ashesi. At Northwestern, 
       he is a past member of the board of trustees and currently serves on several school advisory boards. 
       Todd lives in Seattle with his wife Ruth. He has two children, who were both computer science majors and 
       are software developers in industry on the west coast.  He enjoys bicycling, especially on a tandem with Ruth.</p>     
  </div>
  <div fxFlex="10" class="blue-back">margin</div>
</div>