<h2 class="mat-h2">Edit Activity</h2>
<form [formGroup]="generalForm"  (ngSubmit)="saveAndclose(generalForm)">
    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start start">
      <md-card class="warning" fxFlex="100%" *ngIf="generalForm.dirty&&generalForm.controls['general'].invalid">Invalid Form</md-card>
      <md-select placeholder="Activity Type" formControlName="activetype" fxFlex="25%">
        <md-option *ngFor="let a of allActivities" [value]="a">{{a}}</md-option>
      </md-select>
    </div>
        <div  fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start start" formGroupName="general">
            <md-form-field fxFlex="20%">
                <input type="date" formControlName="start" placeholder="Start" mdInput >
            </md-form-field>
            <md-checkbox formControlName="hasend" fxFlex="10%">End</md-checkbox>
            <md-form-field *ngIf="generalForm.controls['general'].value['hasend']" fxFlex="20%">
                <input type="date" formControlName="end" placeholder="End" mdInput >
            </md-form-field>
            <md-form-field fxFlex="55%">
                <input type="text" formControlName="name" placeholder="Enter Name" mdInput >
            </md-form-field> 
            <md-form-field fxFlex="100%">
                <textarea mdInput placeholder="description" formControlName="description" ></textarea>
            </md-form-field>
            <div  fxFlex="10%">
            <md-checkbox formControlName="hidden">Hidden</md-checkbox>
            </div>
        </div>
  
<div formGroupName="investment" *ngIf="isInvestment(generalForm.value['activetype'])">
    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start start">
      <md-form-field fxFlex="30%">
        <input type="text" formControlName="companylabel" placeholder="company name text" mdInput>
      </md-form-field>
      <md-form-field fxFlex="60%">
          <input type="text" formControlName="companyurl" placeholder="company name url" mdInput>
      </md-form-field>
      <md-form-field fxFlex="60%">
          <input type="text" formControlName="crunchbaseurl" placeholder="crunchbase company url" mdInput>
      </md-form-field>
      <div  fxFlex="20%">
        <md-checkbox formControlName="divergent">Divergent Investment</md-checkbox>
      </div>
    </div>        
  </div>
  <div formGroupName="class" *ngIf="isClass(generalForm.value['activetype'])">
      <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start start">
          <md-form-field fxFlex="30%">
              <input type="text" formControlName="schoolLabel" placeholder="School Name" mdInput>
            </md-form-field>
            <md-form-field fxFlex="60%">
                <input type="text" formControlName="schoolUrl" placeholder="School website url" mdInput>
            </md-form-field> <md-form-field fxFlex="30%">
          <input type="text" formControlName="departmentLabel" placeholder="Department Name" mdInput>
        </md-form-field>
        <md-form-field fxFlex="60%">
            <input type="text" formControlName="departmentUrl" placeholder="Department page url" mdInput>
        </md-form-field>
        <md-form-field fxFlex="60%">
            <input type="text" formControlName="syllabusUrl" placeholder="Syllabus url" mdInput>
        </md-form-field>
      </div>        
    </div>
    <div formGroupName="nonprofit" *ngIf="isNonprofit(generalForm.value['activetype'])">
        <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start start">
            <md-form-field fxFlex="30%">
              <input type="text" formControlName="orglabel" placeholder="organization name text" mdInput>
            </md-form-field>
            <md-form-field fxFlex="60%">
                <input type="text" formControlName="orgurl" placeholder="organization url" mdInput>
            </md-form-field>
          </div>          
    </div>
    <div formGroupName="devproject" *ngIf="isDevProject(generalForm.value['activetype'])">
        <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start start">
            <md-form-field fxFlex="60%">
                <input type="text" formControlName="giturl" placeholder="git repository url" mdInput>
            </md-form-field>
        </div>          
    </div>
    <div formGroupName="present" *ngIf="isPresent(generalForm.value['activetype'])">
        <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start start">
            <md-form-field fxFlex="60%">
                <input type="text" formControlName="presenturl" placeholder="link to presentation" mdInput>
            </md-form-field>
        </div>          
    </div>
    <button md-raised-button color="primary">Add</button>
</form>
