.todd-thumbnail {
    background-image: url('/assets/images/profile/Todd Warren Profile square-avatar.png');
    height: 60px;
    width: 60px;
}
.content-area {
    background: #607D8B
}
.header-area {
    background: rgb(75, 76, 77)
}